.icon{
    display: flex;
    justify-content: space-between;
}
.ham{
    margin-left: 2%;
}
.nav{
    padding-top: 1%;
text-align: center;
display: flex;
}
.nav a{
    text-decoration: none;
    color: black;
    font-size: large;
}
a:hover{
    color: rgb(244, 53, 133);
}

.dark-mode{
    background-color: rgb(77, 43, 83);
    color: white;
    text-align: right;
}
.main{
    font-size: xx-large;
    text-align: center;
    padding-bottom: 11%;
    color: black ;
}
.sm{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
}
.info{
    padding-top: 1%;
    padding-left: 4%;
}
.drop{
    visibility: hidden;
}
@media (max-width:700px) {
.drop{
    visibility: visible;
}
.drp{
    position: absolute;
    background-color: lightgrey;
    padding: 2%;
    min-width: 100px;
    display: none;
    z-index: 1;
}
.drp a{
    text-decoration: none;
    color: black;
    padding: 2%;
}
.drp a:hover{
    color: pink;
}
.drop:hover .drp{
    display: block;
}
.nav{
    visibility: hidden;
}
.ham, .dark{
    width: 80%;
    margin-left: 0%;
}
.name{
    width: 100%;
}
.main{
    font-size: large;
}
.info{
    text-align: center;
    font-size: small;
}
}