.icon{
    display: inline-flex;
}
.buttonClass{
    visibility: hidden;
}

.top{
    padding-top: 1%;
text-align: center;
display: flex;
}
.top a{
    text-decoration: none;
    font-size: medium;
    color: rgb(37, 36, 36);
    cursor: cell;
}
.grid-container {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    gap: 1%;
    cursor:none;
    margin-left: 20%;
    margin-right: 20%;
  }
  .grid-item {
        border: 2px solid rgba(225, 48, 78, 0.8);
    padding: 15px;
    font-size: x-large;
    text-align: center;
  }
  .grid-item:hover{
    background-color: rgba(250, 172, 198, 0.457);
  }
a:hover{
    color: rgb(244, 53, 133);
}
b{
    margin: 2px auto;
}
.dark-mode{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.main{
    font-size: xx-large;
    text-align: center;
    padding-bottom: 11%;
    color: black ;
}
.sm{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    cursor: cell;
}
.box{
    display: flex;
}
.info{
    padding-top: 1%;
}
.drop{
    visibility: hidden;
}
@media (max-width:700px) {
    .box{
        display: block;
        justify-content: center;
    }
    .grid-container{
display: block;
margin:auto ;
    }
   .grid-item{
    font-size: smaller;
    margin: auto;
   }
.drop{
    visibility: visible;
}

.drp{
    position: absolute;
    background-color: lightgrey;
    padding: 2%;
    min-width: 100px;
    display: none;
    z-index: 1;
}
.drp a{
    text-decoration: none;
    color: black;
    padding: 2%;
}
#pic{
    width: 25%;
}
.drp a:hover{
    color: pink;
}
.drop:hover .drp{
    display: block;
}
.con{
    font-size: xx-small;
    padding-top: 20%;
}
.sm{
    padding-top: 10%;
}
.nav{
    font-size: xx-small;
    display: block;
    visibility: hidden;
}
.icon{
    display: flex;
    justify-content: space-between;
}
.ham, .dark{
    width: 40px;
    margin-left: 0%;
    padding-bottom: 100%;
}
.name{
    width: 100%;
}
.main{
    font-size: large;
}
.info{
    text-align: center;
    font-size: small;
    padding-top: 30%;
    padding-bottom: 5%;
}
.buttonClass{
    visibility: hidden;
    margin-left: 40%;
       margin-bottom: 40%;
       font-size:17px;
  font-family:Trebuchet MS;
  width:154px;
  height:55px;
  border-width:100px;
  padding: 2%;
  color:rgb(240, 133, 133);
  border-color:#f0d53c;
  font-weight:bold;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  box-shadow:inset 0px 39px 0px -24px #e67b733a;
  text-shadow:inset 0px 1px 0px #ba615b;
  background:#e4685d2f;
    }
    
    .buttonClass:hover {
        color: #f0d53c;
      background: #eb675ed0
    }
                  
}